* {
    box-sizing: border-box;
}

.clock {
    background: linear-gradient(to right, #a37bbe, #067be9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid darkblue;
    border-radius: 20px;
    padding: 20px 50px;

   }

   h1 {
    color:lightblue;
    font-size: 60px;
    margin: 75px;
    text-align: center;
  

   }
body {
  background-color:rgb(0, 0, 0);
}
   
   /* On devices smaller than 940px */
   @media(max-width: 940px) {
    /* start mobile responsive here */
    .clock {
      
      border: 5px solid red;
    }

    h1 {
      display: inline-flex;
      font-size: 40px;
    }
    body {
        background-color: lightblue;
        
      }
    }

    